body {
    background-color: rgb(16, 137, 244);
    font: normal 15pt arial;
}

header { color:white;
        text-align: 
        center;

}

section {background: white;
        border-radius:10px;
        padding:15px;
        width:500px;
        text-align: center;
        margin:auto;

}

footer {
    font-style: italic;
    text-align:center;
}

#fotos {width: 250px;
        height: 250px;
        padding:15px;
        border:none;
        border-radius:50px;
}